    <div class="post-content">
        <%news= paginitData.data %>
                <% news.forEach(function(article) { %>
                    <div class="row">
                    <div class="col-md-4">
                        <a class="article-img" href="/single/<%= article._id %>"><img src="/uploads/<%= article.image %>" alt=""/></a>
                    </div>
                    <div class="col-md-8">
                        <div class="inner-content clearfix">
                            <h3><a href='/single/<%= article._id %>'><%= article.title %></a></h3>
                            <div class="article-information">
                            <span>
                                <i class="fa fa-tags" aria-hidden="true"></i>
                                <a href='/category/<%=article.category.slug %>'><%= article.category.name %></a>
                            </span>
                            <span>
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <a href='/author/<%= article.author._id %>'><%= article.author.fullname %></a>
                            </span>
                            <span>
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <%= article.createdAt.toLocaleString() %>
                            </span>
                            </div>
                            <p class="description">
                                <% var text = article.content.substring(0, 20); %>
                                <% if (article.content.length > 30) { %>
                                    <%= text.replace(/<[^>]*>/g, '') %>...
                                <% } else { %>
                                    <%= text.replace(/<[^>]*>/g, '') %>
                                <% } %>
                            </p>
                            <a class='read-more pull-right' href='/single/<%= article._id %>'>read more</a>
                        </div>
                    </div>
                    </div>
                <% }); %>
                </div>
              
                <nav>
                  <ul class="pagination">
                    <% if (paginitData.meta.hasPrevPage) { %>
                    <li class="page-item">
                      <a class="page-link" href="/<%= category ? 'category/' + category.slug : '' %>?page=<%= paginitData.meta.prevPage %>">Previous</a>
                    </li>
                    <% } %>
                    <% for (var i = Math.max(1, paginitData.meta.currentPage - 2); i <= Math.min(paginitData.meta.currentPage + 2, paginitData.meta.totalPages); i++) { %>
                    <li class="page-item <%= i === paginitData.meta.currentPage ? 'active' : '' %>">
                      <a class="page-link" href="/<%= category ? 'category/' + category.slug : '' %>?page=<%= i %>"><%= i %></a>
                    </li>
                    <% } %>
                    <% if (paginitData.meta.hasNextPage) { %>
                    <li class="page-item">
                      <a class="page-link" href="/<%= category ? 'category/' + category.slug : '' %>?page=<%= paginitData.meta.nextPage %>">Next</a>
                    </li>
                    <% } %>
                  </ul>
                </nav>

