 <div id="sidebar" class="col-md-4">
          <!-- search box -->
          <div class="search-box-container">
              <h4>Search</h4>
              <form class="search-post" action="/search" method ="GET">
                  <div class="input-group">
                      <input type="text" name="search" class="form-control" placeholder="Search .....">
                      <span class="input-group-btn">
                          <button type="submit" class="btn btn-danger">Search</button>
                      </span>
                  </div>
              </form>
          </div>
          <!-- /search box -->
          <!-- recent posts box -->
          <div class="recent-post-container">
              <h4>Recent Posts</h4>
              <% for(var i=0; i<latestnews.length; i++) { %>
              <div class="recent-post">
                  <a class="post-img" href="/single/<%= latestnews[i]._id %>">
                      <img src="/uploads/<%= latestnews[i].image %>" alt=""/>
                  </a>
                  <div class="post-content">
                      <h5><a href="/single/<%= latestnews[i]._id %>"><%= latestnews[i].title %></a></h5>
                      <span>
                          <i class="fa fa-tags" aria-hidden="true"></i>
                          <a href='/category/<%= latestnews[i].category.slug %>'><%= latestnews[i].category.name %></a>
                      </span>
                      <span>
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                          <%= latestnews[i].createdAt.toLocaleString() %>
                      </span>
                      <a class="read-more" href="/single/<%= latestnews[i]._id %>">read more</a>
                  </div>
              </div>
              <% } %>
          </div>
          <!-- /recent posts box -->
        </div>